@import '../variables';
@import '../animations';
@import '../buttons';

.about-box {
    position: absolute;
    background-image: url('../images/oqm2ms35x1701.jpg');
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    z-index: -2;
}

.about {
    position: relative;
    margin: 10px auto 20px;
    width: 60%;
    border: 2px solid $secondary-color;
    background-image: url('../images/model-3211631.jpg');
    background-size: cover;
    padding: 2%;
}

.about-subject {
    font-size: 5rem;
    opacity: 0.3;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 100px;
}

.about-subjectText {
    font-size: 2rem;
    opacity: 0.7;
    color: #ffffff;
}

.about-subjectSubtext {
    display: flex;
}

.about-subjectSubtextLeft {
    font-size: 3rem;
    opacity: 0.3;
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 1%;
    transform: translate(0%, -20%);
}

.about-subjectInterestSubtext {
    display: flex;
}

.about-subjectInterestLeft {
    opacity: 0.3;
    color: #ffffff;
    padding-left: 1%;
    display: flex;
}

.about-InterestLeftsocialItemIcon {
    margin-left: 10px;
    padding-bottom: 1rem;
}

.about-body {
    display: flex;
    justify-content: space-between;
}

.about-imageProfil {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin: 15px 15px;
    border: 2px solid $secondary-color;
}

.about-social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.about-socialItemIcon {
    margin-left: 10px;
    :hover {
        color: $secondary-color;
    }
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderPortfolioLink {
    @include button()
}

.box-sliderDownloadLink {
    @include button();
}


@media (max-width: $break-xxs-max) {
    .about {
        min-width: 80%;
     }

    .about-subject {
        font-size: 2rem;
    }
    
    .about-bodyLeft {
        width: 100%;
    }

    .about-subjectText {
        font-size: 1rem;
    }
    
    .box-sliderPortfolioLink {
        span {
            letter-spacing: 0px;
            font-size: 14px;
        }
        height: 50px;
        width: 70px;
    }

    .box-sliderDownloadLink {
        span {
            letter-spacing: 0px;
            font-size: 14px;
        }
        height: 50px;
        width: 80px;
    }
}

    
.box-sliderPortfolioLink {
    @media only screen and (max-width: 600px) {
    span {
        letter-spacing: 0px;
        font-size: 12px;
    }
    height: 50px;
    width: 90px;
    }
}

.box-sliderDownloadLink {
    @media only screen and (max-width: 600px) {
    span {
        letter-spacing: 0px;
        font-size: 12px;
    }
    height: 50px;
    width: 80px;
    }
}

.about {
    @media only screen and (max-width: 600px) {
        min-width: 80%;
    }
  
    @media only screen and (min-width: 600px) {
        min-width: 80%;
    }
  
    @media only screen and (min-width: 768px) {
        min-width: 80%;
    }

    @media only screen and (min-width: 1024px) {
        min-width: 70%;
    }

    @media only screen and (min-width: 1250px) {
        min-width: 60%;
    } 
}

.about-subject {
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
    }
  
    @media only screen and (min-width: 600px) {
        font-size: 2.5rem;
    }
  
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 3.5rem;
    }

    @media only screen and (min-width: 1250px) {
        font-size: 5rem;
    }
}

.about-subjectSubtextLeft {
    @media only screen and (max-width: 600px) {
        font-size: 1.5rem;
    }
  
    @media only screen and (min-width: 600px) {
        font-size: 2rem;
    }
  
    @media only screen and (min-width: 768px) {
        font-size: 2.5rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 3rem;
    }

    @media only screen and (min-width: 1250px) {
        font-size: 3.5rem;
    }
}

.about-subjectText {
    @media only screen and (max-width: 600px) {
        font-size: 1rem;
    }
  
    @media only screen and (min-width: 600px) {
        font-size: 1.2rem;
    }
  
    @media only screen and (min-width: 768px) {
        font-size: 1.4rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 1.6rem;
    }

    @media only screen and (min-width: 1250px) {
        font-size: 1.8rem;
        padding-top: 30px;
    }
}

.about-imageProfil {
    @media only screen and (max-width: 600px) {
      width: 100px;
      height: 100px;
    }
  
    @media only screen and (min-width: 600px) {
      width: 170px;
      height: 170px;
    }
  
    @media only screen and (min-width: 768px) {
      width: 250px;
      height: 250px;
    }

    @media only screen and (min-width: 1024px) {
        width: 300px;
        height: 300px;
    }

    @media only screen and (min-width: 1250px) {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 676px) {
    .about-InterestLeftsocialItemIcon {
        margin-left: 0;
        margin-right: 5px;
    }
    .about-subjectInterestSubtext {
        display: block;
    }
    .about-subjectInterestLeft {
        padding-left: 0;
        padding-top: .1rem;
    }
    .fa-tools {
        font-size: 1rem;
    }
    .fa-basketball-ball {
        font-size: 1rem;
    }
    .fa-pencil-ruler {
        font-size: 1rem;
    }
    .fa-camera {
        font-size: 1rem;
    }
}