@import '../variables';
@import '../animations';
@import '../buttons';
@import '../input';

.contact-box {
    position: absolute;
    background-image: url('../images/oqm2ms35x1701.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.contact {
    position: relative;
    background-image: url('../images/desktop-2.png');
    background-size: cover;
    margin: 10px auto;
    width: 80%;
    border: 2px solid $secondary-color;
}

.contact-subject {
    font-size: 5rem;
    opacity: 0.5;
    color: $secondary-light-color;
    margin: 0 0 0 20px;
}

.contact-bodyItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-bodyLeft {
    background-color: rgba($color: #f5f5f5, $alpha: 0.7);
    text-align: center;
    width: 500px;
    border: 2px solid $secondary-color;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-bodyRight {
    color: #ffffff;
    width: fit-content;
    margin-bottom: 20px;
}

.form-group {
    @include input-container();
}

.form-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid $primary-color;
    padding: 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $primary-color;
    position: relative;
    background: transparent;
    :before:hover {
        border: $secondary-color;
    }
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderServicesLink {
    @include button();
}

.box-sliderAboutLink {
    @include button();
}