@import '../variables';
@import '../animations';
@import '../buttons';
@import '../input';

.contact-box {
    position: absolute;
    background-image: url('../images/oqm2ms35x1701.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.contact {
    position: relative;
    background-image: url('../images/desktop-2.png');
    background-size: cover;
    margin: 10px auto;
    width: 80%;
    border: 2px solid $secondary-color;
}

.contact-subject {
    font-size: 5rem;
    opacity: 0.5;
    color: $secondary-light-color;
    margin: 0 0 0 20px;
}

.contact-bodyItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact-bodyLeft {
    background-color: rgba($color: #f5f5f5, $alpha: 0.7);
    text-align: center;
    width: 500px;
    border: 2px solid $secondary-color;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-bodyRight {
    background-color: rgba($color: #444343, $alpha: 0.7);
    color: #ffffff;
    width: fit-content;
    margin-bottom: 20px;
    text-align: center;
    width: 300px;
    border: 2px solid $secondary-color
}

.form-group {
    @include input-container();
}

.form-submit {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: 1px solid $primary-color;
    padding: 0 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: black;
    position: relative;
    background: transparent;
    ::after {
        border: 2px solid $secondary-color;
    }
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderServicesLink {
    @include button();
}

.box-sliderAboutLink {
    @include button();
}

.contact-box {
    @media only screen and (min-width: 320px) {
        height: 140vh;
    }

    @media only screen and (max-width: 420px) {
        height: 130vh;
    }

    @media only screen and (min-width: 500px) {
        height: 100vh;
    }

    @media only screen and (min-width: 1024px) {
        height: 100vh;
    }

    @media only screen and (min-width: 1250px) {
        height: 100vh;
    }
}

.contact-subject {
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
    }
  
    @media only screen and (min-width: 600px) {
        font-size: 2.5rem;
    }
  
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 3.5rem;
    }

    @media only screen and (min-width: 1250px) {
        font-size: 4rem;
    }
}

.contact-bodyItem {
    @media only screen and (max-width: 600px) {
        display: block;
    }
  
    @media only screen and (min-width: 600px) {
        display: block;
    }
  
    @media only screen and (min-width: 768px) {
        display: block;
    }

    @media only screen and (min-width: 1024px) {
        display: flex;
    }

    @media only screen and (min-width: 1250px) {
        display: flex;
    }
}

.contact-bodyLeft {
    @media only screen and (max-width: 600px) {
        margin: 0 auto 20px;
        width: 200px;
    }
  
    @media only screen and (min-width: 600px) {
        margin: 0 auto 20px;
        width: 300px;
    }
    @media only screen and (min-width: 768px) {
        margin: 0 auto 20px;
        width: 350px;
    }
}

.contact-bodyRight {
    @media only screen and (max-width: 600px) {
        margin: 0 auto 20px;
        width: 200px;
    }
  
    @media only screen and (min-width: 600px) {
        margin: 0 auto 20px;
        width: 300px;
    }
  
    @media only screen and (min-width: 768px) {
        margin: 0 auto 20px;
        width: 300px;
    }
}

.contact-boxRowText {
    @media only screen and (max-width: 600px) {
        font-size: 10px;
    }
}

.box-sliderExperienceLink {
    @media only screen and (max-width: 600px) {
    span {
        letter-spacing: 0px;
        font-size: 12px;
    }
    height: 50px;
    width: 110px;
    }
}

.box-sliderAboutLink {
    @media only screen and (max-width: 600px) {
    span {
        letter-spacing: 0px;
        font-size: 12px;
    }
    height: 50px;
    width: 90px;
    }
}