@import '../variables';
@import '../animations';
@import '../buttons';

.experience-box {
    position: absolute;
    background-image: url('../images/oqm2ms35x1701.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    z-index: -2;
}

.experience {
    position: relative;
    background-image: url('../images/cube-2415399.jpg');
    background-size: cover;
    margin: 10px auto;
    width: 80%;
    border: 2px solid $secondary-color;
}

.experience-subject {
    font-size: 5rem;
    opacity: 0.5;
    color: $secondary-light-color;
    margin: 0 0 5px 20px;
}

.experience-boxItem {
    width: 300px;
    margin: 20px 0 20px 20px;
    border: 2px solid $secondary-color;
    background-color: rgba($color: #bdbcbc, $alpha: 0.7);
    padding: 20px;
    font-weight: bold;
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderEducationLink {
    @include button();
}

.box-sliderContactLink {
    @include button();
}