@import '../variables';
@import '../animations';
@import '../buttons_light';

.portfolio-box {
    position: absolute;
    background-image: url('../images/desktop-2065337.png');
    background-size: cover;
    width: 100%;
    color: #ffffff;
}

.portfolio {
    position: relative;
    margin: 10px auto;
    width: 80%;
    border: 2px solid $secondary-color;
}

.portfolio-subject {
    font-size: 5rem;
    opacity: 0.3;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 20px;
}

.portfolio-items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    text-align: center;
    margin: 20px;
}

.portfolio-item {
    width: 450px;
    border: 1px solid $secondary-color;
    background-color: rgba($color: #141414, $alpha: 0.9);
}

.portfolio-img {
    position: relative;
    width: 400px;
}

.portfolio-itemLink {
    text-decoration: none;
    color: #ffffff;
}

.portfolio-itemTitle {
    :hover {
        color: $secondary-color;  
    }
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderAboutLink {
    @include button_light();
}

.box-sliderServicesLink {
    @include button_light();
}