@import '../variables';
@import '../animations';
@import '../buttons';

.portfolio-box {
    position: absolute;
    background-image: url('../images/oqm2ms35x1701.jpg');
    background-size: cover;
    width: 100%;
    color: #ffffff;
}

.portfolio {
    position: relative;
    background-image: url('../images/123.png');
    background-size: cover;
    margin: 10px auto;
    width: 80%;
    border: 2px solid $secondary-color;
}

.portfolio-subject {
    font-size: 5rem;
    opacity: 0.3;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 20px;
}

.portfolio-items {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
    text-align: center;
    margin: 20px;
}

.portfolio-item {
    width: 450px;
    border: 3px solid $secondary-color;
    background-color: rgba($color: #0f0f0f, $alpha: 0.8);
    padding: 20px;
}

.portfolio-itemImage {
    width: 450px;
    height: 270px;
}

.portfolio-img {
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
    width: 100%;
    height: 100%;
}

.portfolio-itemLink {
    text-decoration: none;
    color: #ffffff;
}

.portfolio-itemTitle {
    :hover {
        color: $secondary-color;  
    }
}

.portfolio-itemCategory {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderAboutLink {
    @include button();
}

.box-sliderServicesLink {
    @include button();
}