@import '../variables';
@import '../animations';
@import '../buttons';

.services-box {
    position: absolute;
    background-image: url('../images/oqm2ms35x1701.jpg');
    background-size: cover;
    height: 200vh;
    width: 100%;
    z-index: -2;
}

.services {
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.services-subject {
    font-size: 5rem;
    opacity: 0.5;
    color: $primary-color;
    margin-top: 0px;
    margin-left: 20px;
}

.services-contentFirst {
    position: relative;
    margin: 0 auto;
    width: 40%;
    border: 2px solid $secondary-color;
    margin: 20px auto;
    background-color: rgba($color: #bdbcbc, $alpha: 0.7);
}

.services-contentIcon {
    text-align: center;
}

.services-contentFirstItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services-contentFirstItem {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.services-contentSecond {
    position: relative;
    margin: 0 auto;
    width: 70%;
    border: 2px solid $secondary-color;
    background-color: rgba($color: #bdbcbc, $alpha: 0.7);
}

.services-sub {
    font-size: 2rem;
    opacity: 0.5;
    color: $primary-color;
    margin-top: 0px;
    margin-left: 20px;
}

.services-contentSecondItem {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    row-gap: 30px;
}

.services-contentItem {
    text-align: center;
}

.box-slider {
    display: flex;
    justify-content: space-between;
}

.box-sliderPortfolioLink {
    @include button();
}

.box-sliderExperienceLink {
    @include button();
}

.services-subject {
    @media only screen and (max-width: 600px) {
        font-size: 2rem;
    }
  
    @media only screen and (min-width: 600px) {
        font-size: 2.5rem;
    }
  
    @media only screen and (min-width: 768px) {
        font-size: 3rem;
    }

    @media only screen and (min-width: 1024px) {
        font-size: 3.5rem;
    }

    @media only screen and (min-width: 1250px) {
        font-size: 4rem;
    }
}

.services-contentFirst {
    @media only screen and (max-width: 600px) {
        width: 70%;
    }
  
    @media only screen and (min-width: 600px) {
        width: 65%;
    }
  
    @media only screen and (min-width: 768px) {
        width: 60%;
    }

    @media only screen and (min-width: 1024px) {
        width: 55%;
    }

    @media only screen and (min-width: 1250px) {
        width: 50%;
    }
}

.services-contentSecondItem {
    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(3, 1fr);
    }
  
    @media only screen and (min-width: 600px) {
        grid-template-columns: repeat(4, 1fr);
    }
  
    @media only screen and (min-width: 768px) {
        grid-template-columns: repeat(5, 1fr);
    }

    @media only screen and (min-width: 1024px) {
        grid-template-columns: repeat(6, 1fr);
    }

    @media only screen and (min-width: 1250px) {
        grid-template-columns: repeat(7, 1fr);
    }
}

.services-box {
    @media only screen and (max-width: 600px) {
        height: 180vh;
    }
  
    @media only screen and (min-width: 600px) {
        height: 130vh;
    }
  
    @media only screen and (min-width: 768px) {
        height: 120vh;
    }

    @media only screen and (min-width: 1024px) {
        height: 110vh;
    }

    @media only screen and (min-width: 1250px) {
        height: 100vh;
    }
}

.box-sliderPortfolioLink {
    @media only screen and (max-width: 600px) {
    span {
        letter-spacing: 0px;
        font-size: 12px;
    }
    height: 50px;
    width: 90px;
    }
}

.box-sliderEducationLink {
    @media only screen and (max-width: 600px) {
    span {
        letter-spacing: 0px;
        font-size: 12px;
    }
    height: 50px;
    width: 110px;
    }
}