@import './variables.scss';

@mixin button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border: 1px solid $primary-color;
  padding: 0 20px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $primary-color;
  position: relative;
  transition: color .3s ease, background-color .3s ease;

  span {
    position: relative;

    i {
      margin-left: 10px;
      font-size: 16px;
    }
  }

  &::before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $primary-color;
    transition: width .3s ease;
  }

  &:hover {
    color: $secondary-color;

    &::before {
      width: 100%;
    }
  }

}