// Colors
$primary-color: #0b0c10;
$secondary-color: #66fcf1;

$primary-light-color: #1f2833;
$secondary-light-color: #c5c6c7;

$primary-border-color: #45a29e;

// Fonts
$ff-primary: 'Itim', cursive;
$ff-secondary: 'Roboto', sans-serif;

// Breakpoints
$break-xxs-max: 375px;
$break-xs-max: 480px;
$break-sm-max: 575px;
$break-md-max: 767px;
$break-lg-max: 991px;